body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loginStyle {
  margin-top: 100px;
  margin-left: 350px;
}

.row {
  width: 100% !important;
}

.loginbutton {
  margin-top: 25px;
  margin-bottom: 20px;
}

.taskBar {
  display: flex !important;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #202124;
}
.buttonStyle {
  width: 85px !important;
  height: 40px;
  font-size: 18px;
}

.loginButton {
  margin-left: 75% !important;
}
.signUpButton {
  margin-left: 5% !important;
}
.sideMenu {
  width: 15% !important;
  background-color: #202124;
  padding-bottom: 39%;
}
.menuStyle {
  padding-left: 27%;
  padding-top: 10%;
}
.menuButtonStyle {
  width: 125px !important;
  height: 40px;
  font-size: 18px;
}
.createPost {
  padding-top: 7%;
}
.postTitle {
  text-align: center;
}
.marginProperty {
  margin-left: 25% !important;
}
.inputFieldStyle {
  width: 60%;
  height: 30px;
}
.contentFieldStyle {
  width: 60%;
  height: 30px;
  padding-bottom: 15%;
}
.postButtonStyle {
  width: 125px !important;
  height: 40px;
  font-size: 18px;
  margin-top: 3%;
}

.boxDesign {
  color: #202124;
  text-align: center !important;
  margin-top: 70px;
  font: 400 16px/1.7777777778 Open sans, system-ui, -apple-system, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 1rem !important;
  box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03),
    0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
  width: 25% !important;
  background-color: white !important;
}
.smallStyle {
  margin-top: 20px;
}
.posts {
  width: 80% !important;
  margin-left: 5%;
}
.row {
  width: 100% !important;
}
.displayProperty {
  display: flex !important;
}
.postTitle {
  margin-left: -15% !important;
}
@media only screen and (min-width: 800px) {
  .boxDesign {
    margin-left: 35% !important;
  }
}

@media only screen and (max-width: 799px) {
  .boxDesign {
    margin-left: 20% !important;
    width: 60% !important;
  }
  .smallStyle {
    width: 70% !important;
  }
}
